.wrap{
  width: 644px;
  height: 1640px;
  background: #d1d1d1;
      margin: 0 auto;
      padding: 58px;
    }
.main-block {
      width: 642px;
      height: 1523px;
      margin: 0 auto;
      background: #fff;
      border: 1px solid #d1d1d1;
      box-shadow: 1px 1px #d1d1d1;
    }
    .text {
      font-family: sans-serif;
          padding: 47px 30px 7px 30px;
    line-height: 40px;
    }
    .text-center {
      text-align: center;
      margin: 0;
    }
    .main-paragrapf {
      margin: -10px 24px -11px 9px;
    padding: 13px 9px 14px 10px;
    line-height: 28px;
    }
    .second-line {
  clear: both;
  padding-top: 13px;
    }
    .woman-doctor {
      width: 257px;
  float: left;
    padding-left: 50px;
    }
    .dentist {
    width: 257px;
  float: left;
  padding-left: 26px;
    }
    .woman-doctor-text, .dentist-text {
     font-size: 16px;
     font-family: sans-serif;
       line-height: 21px;
       padding: 10px 10px;
     margin: 2px 0px -22px -8px;
   }
   .booking {
     border: 1px solid #cf5b4e;
     border-radius: 5px;
     background:  #cf5b4e;
     margin-top: 55px;
margin-bottom: 30px;
     color: #fff;
     width: 256px;
     font-size: 14px;
     padding: 10px;
   }
   .third-line {
  clear: both;
  padding-left: 51px;
   }
   .cardio{
     float: left;
   }
   .neuro {
   float: left;
   padding-left: 14px;

   }
   .women{
   float: left;
   padding-left: 14px;

   }
   .third-line-text {
       width: 162px;
     font-size: 16px;
     font-family: sans-serif;
     line-height: 23px;
   padding: 4px 11px;
   margin: 4px 0px -41px -9px;
   }
   .third-line-button{
     border: 1px solid #cf5b4e;
     border-radius: 5px;
     background:  #cf5b4e;
     margin-top: 55px;
 margin-bottom: 30px;
     color: #fff;
     width: 162px;
     font-size: 14px;
     padding: 10px;
   }
   .footer {
     text-align: left;
     width: 551px;
   font-family: sans-serif;
   font-size: 16px;
   padding-left: 50px;
   line-height: 20px;
   }
   .footer-button{
     border: 1px solid #cf5b4e;
     border-radius: 5px;
     background:  #cf5b4e;
     margin: 49px 0 77px 50px;
     color: #fff;
     width: 538px;
     font-size: 14px;
   padding: 10px;
   }
   .mail {
     margin: 0 auto;
     font-family: sans-serif;
     font-size: 11px;
       color: #fff;
       background: #d1d1d1;
       line-height: 11px;
     font-weight: bold;
   }
